* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  position: relative;
  height: 300px;
  width: 300px;
  background-color: rgba(64, 86, 197, 0.1);
  border: 2px solid rgba(243, 234, 234, 0.952);
  /**
commenting this clock will become square shape
  border-radius: 50%;

*/
  border-radius: 50%;

  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.952);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 20px;
  text-align: center;
}

.clock span b {
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
  font-size: 14px;
}

.clock::before {
  content: "";
  width: 8px;
  height: 8px;
  font-weight: 100;
  font-size: 5px;
  border-radius: 50%;
  background-color: rgba(37, 42, 188, 0.731);
  z-index: 2;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i {
  position: absolute;

  height: var(--h);
  width: 7px;
  border-radius: 10px;
  background-color: var(--clr);
}
